{% extends 'base.html' %}

{% load static %}
{% block title %}
About Us
{% endblock %}
{% block content %}
{% if messages%}
  {% for message in messages %}
   <div class="alert {{message.tags}} " >{{ message }}</div>
  {% endfor%}
{% endif %}

<h1>Student List</h1>
<table class="table table-bordered">
   <thead>
   <tr>
       <th scope="col">PHOTO</th>
       <th scope="col">NAME</th>
       <th scope="col">AGE</th>
       <th scope="col">GENDER</th>
       <th scope="col">COURSE</th>
       <th></th>
   </tr>
   </thead>
   <tbody>
       {% for student in data %}
       <tr>
           <td>
               {% if student.image %}
                   <img src="{{ student.image.url }}" alt="{{ student.name }}" style="width: 80px; height: 80px;">
               {% else %}
                   <img src="{% static 'images/pfpplaceholder.png' %}" alt="" style="width: 80px; height: 80px;">
               {% endif %}
           </td>
           <td>{{ student.name }}</td>
           <td>{{ student.age }}</td>
           <td>{{ student.gender }}</td>
           <td>{{ student.course }}</td>
           <td><a href="{% url 'edit' student.id %}" class="btn btn-success" type="button">EDIT STUDENT</a></td>
           <td><a href="" class="btn btn-success" type="button">DELETE STUDENT</a></td>
       </tr>
       {% endfor %}
   </tbody>
</table>
{% endblock %}
